<?xml version="1.0" encoding="UTF-8"?>
<!--
    Tourfecto - PHPUnit Configuration
    تكوين PHPUnit لاختبارات النظام
    @version 1.0.0
    @author Tourfecto Team
    @copyright 2026 Tourfecto
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         cacheResult="false">
    
    <!-- ============================================
         مجموعات الاختبارات
         ============================================ -->
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
            <exclude>Unit/Integration</exclude>
        </testsuite>
        
        <testsuite name="Integration">
            <directory>Integration</directory>
        </testsuite>
        
        <testsuite name="All">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    
    <!-- ============================================
         متغيرات البيئة
         ============================================ -->
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_URL" value="http://localhost:8000"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_NAME" value="tourfecto_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
        <env name="DB_CHARSET" value="utf8mb4"/>
        <env name="DB_COLLATION" value="utf8mb4_unicode_ci"/>
        <env name="CACHE_DRIVER" value="file"/>
        <env name="CACHE_ENABLED" value="false"/>
        <env name="SESSION_DRIVER" value="file"/>
        <env name="GEMINI_API_KEY" value="test_key"/>
        <env name="GEMINI_MODEL" value="gemini-1.5-flash"/>
        <env name="ENCRYPTION_KEY" value="base64:5m9nP3k8W2xV7tY4rS6dF8jH1aB3cE5g="/>
    </php>
    
    <!-- ============================================
         قائمة الملفات التي سيتم تجاهلها
         ============================================ -->
    <exclude>
        <directory>vendor</directory>
        <directory>storage</directory>
        <directory>tests/Fixtures</directory>
    </exclude>
    
    <!-- ============================================
         إعدادات التغطية (Code Coverage)
         ============================================ -->
    <coverage>
        <include>
            <directory suffix=".php">../app</directory>
        </include>
        
        <exclude>
            <directory suffix=".php">../app/Config</directory>
            <directory suffix=".php">../app/Exceptions</directory>
            <directory suffix=".php">../app/Helpers</directory>
            <directory suffix=".php">../app/Middleware</directory>
            <directory suffix=".php">../app/Controllers</directory>
        </exclude>
        
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="coverage.txt"/>
            <clover outputFile="clover.xml"/>
            <crap4j outputFile="crap4j.xml"/>
            <php outputFile="coverage.php"/>
        </report>
    </coverage>
    
    <!-- ============================================
         إعدادات السجلات
         ============================================ -->
    <logging>
        <junit outputFile="junit.xml"/>
        <testdoxHtml outputFile="testdox.html"/>
        <testdoxText outputFile="testdox.txt"/>
    </logging>
    
    <!-- ============================================
         إعدادات الأداء
         ============================================ -->
    <phpunit
        executionOrder="random"
        resolveDependencies="true"
        processIsolation="false"
        columns="max"
        printerClass="PHPUnit\TextUI\DefaultResultPrinter">
    </phpunit>
</phpunit>